{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}
{% block specific-css %}
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/skeleton.css' %}"/>
{% endblock %}
{% block content %}
    <div class="container" style="margin-top: 150px;">
        <h1 align="center">
            {% trans 'Iniciar Sesión' %}
        </h1>
        <div class="row">
            <div class="offset-by-four columns">
                <div class="four columns">
                    {% if not user.is_authenticated %}
                    <form method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit" value="{% trans 'Ingresar' %}">
                    </form>
                    {% else %}
                    <div class="row">
                        <p>
                            {% trans 'Already authenticated as ' %} {{ user.username }}
                        </p>
                        <a href="{% url 'log_out' %}">
                            {% trans 'Log Out' %}
                        </a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}