{% load widget_tweaks %}

{% for hidden_field in form.hidden_fields %}
  {{ hidden_field }}
{% endfor %}

{% if form.non_field_errors %}
  <div class="alert alert-danger" role="alert">
    {% for error in form.non_field_errors %}
      {{ error }}
    {% endfor %}
  </div>
{% endif %}

{% for field in form.visible_fields %}
  <div class="form-group row {% if form.is_bound %} {% if field.errors %} has-error {% else %} has-success {% endif %} {% else %} {% endif %}">

    <div class="col-md-3">
      {{ field.label_tag }}
    </div>
    
    <div class="col-md-7">
    {% if form.is_bound %}
      {% if field.errors %}
        {% render_field field class="form-control" %}
        {% for error in field.errors %}
          <div class="text-muted">
            {{ error }}
          </div>
        {% endfor %}
      {% else %}
        {% render_field field class="form-control" %}
      {% endif %}
    {% else %}
      {% render_field field class="form-control" %}
    {% endif %}
    {% if field.help_text %}
      <small class="form-text text-muted">{{ field.help_text }}</small>
    {% endif %}
    </div>

  </div>
{% endfor %}