{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    Laboratorio de redes
{% endblock %}
{% block content %}
<!-- begin #home -->
        <div id="home" class="content has-bg home">
            <!-- begin content-bg -->
            <div class="content-bg">
                <img src="{% static 'vendor/color_admin_v1.7/img/home-bg.jpg'%}" alt="Home" />
            </div>
            <!-- end content-bg -->
            <!-- begin container -->
            <div class="container home-content">
                <h1 class="text-theme">Laboratorio de Redes y Sistemas Distribuidos</h1>
                <h3>Universidad del Valle</h3>
                <p>
                    <img src="{% static 'img/uv.png' %}" width="100" height="100">
                </p>
            </div>
            <!-- end container -->
        </div>
        <!-- end #home -->

{#        <!-- begin #about -->#}
{#        <div id="actividades" class="content" data-scrollview="true">#}
{#            <!-- begin container -->#}
{#            <div class="container" data-animation="true" data-animation-type="fadeInDown">#}
{#                <h2 class="content-title">Activities</h2>#}
{#                <p class="content-desc">#}
{#                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum consectetur eros dolor,<br />#}
{#                    sed bibendum turpis luctus eget#}
{#                </p>#}
{#            </div>#}
{#            <!-- begin #quote -->#}
{#            <div id="quote" class="content bg-black-darker has-bg" data-scrollview="true">#}
{#                <!-- begin content-bg -->#}
{#                <div class="content-bg">#}
{#                    <img src="{% static 'vendor/color_admin_v1.7/img/quote-bg.jpg' %}" alt="Quote" />#}
{#                </div>#}
{#                <!-- end content-bg -->#}
{#            </div>#}
{#            <!-- end #quote -->#}
{#        </div>#}
{#        <!-- end #about -->#}

        

        <!-- begin #team-->
        <div id="team" class="content has-bg" data-scrollview="true">

            <!-- begin container -->
            <div class="container" data-animation="true" data-animation-type="fadeInUp">
                <h2 class="content-title">Nuestro equipo</h2>
                <!-- begin carousel -->
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <!-- begin carousel-indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        {% for member in members %}
                        <li data-target="#myCarousel" data-slide-to="{{ forloop.counter }}" class=""></li>
                        {% endfor %}
                    </ol>
                    <!-- end carousel-indicators -->
                    <!-- begin carousel-inner -->
                    <div class="carousel-inner text-center">
                        <!-- begin team -->
                        <div class="item active">
                            <div class="image" data-animation="true" data-animation-type="flipInX">
                                <img style="border-radius: 300px;" src="{% static 'img/2015_JohnSanabria.jpg' %}" width="150" height="150" class="img-responsive img-thumbnail" alt="John Sanabria" />
                            </div>
                            <div class="info">
                                <h3 class="name">John Sanabria, Ph.D</h3>
                                <div class="title text-theme"> Descripción </div>
                                <p> 
                                    Sistemas Distribuidos, Sistemas Operativos, Redes de Computadoras, Grid Computing.
                                </p>
                                <div class="social">
                                    <a href="{{ member.google_url }}"><i class="fa fa-google-plus fa-3x fa-fw"></i></a>
                                    <a href="{{ member.github_url }}"><i class="fa fa-github fa-3x fa-fw"></i></a>
                                    <a href="{{ member.youtube_channel_url }}"><i class="fa fa-youtube fa-3x fa-fw"></i></a>
                                    <a href="{{ member.webpage_url }}"><i class="fa fa fa-html5 fa-3x fa-fw"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- end team -->
                        {% for member in members %}
                        <!-- begin team -->
                        <div class="item">
                            <div class="image" data-animation="true" data-animation-type="flipInX">
                                {% if member.picture %}
                                <img  style="border-radius: 300px;" src="{{ member.picture.url }}" width="150" height="150" class="img-responsive img-thumbnail" alt="{{ member.name }}" />
                                {% endif %}
                            </div>
                            <div class="info">
                                <h3 class="name">{{ member.name }}</h3>
                                <div class="title text-theme">{{ member.description }}</div>
                                <p>{{ member.interest }}</p>
                                <div class="social">
                                    {% if member.google_url %}
                                    <a href="{{ member.google_url }}"><i class="fa fa-google-plus fa-3x fa-fw"></i></a>
                                    {% endif %}
                                    {% if member.github_url %}
                                    <a href="{{ member.github_url }}"><i class="fa fa-github fa-3x fa-fw"></i></a>
                                    {% endif %}
                                    {% if member.youtube_channel_url %}
                                    <a href="{{ member.youtube_channel_url }}"><i class="fa fa-youtube fa-3x fa-fw"></i></a>
                                    {% endif %}
                                    {% if member.webpage_url %}
                                    <a href="{{ member.webpage_url }}"><i class="fa fa fa-html5 fa-3x fa-fw"></i></a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <!-- end team -->
                        {% endfor %}
                    </div>
                    <!-- end carousel-inner -->
                </div>
                <!-- end carousel -->
            </div>
            <!-- end containter -->
        </div>
        <!-- end #team -->


        <!-- begin #contact -->
        <div id="contact" class="content bg-silver-lighter" data-scrollview="true">
            <!-- begin container -->
            <div class="container">
                <h2 class="content-title">Contactenos</h2>
                <p class="content-desc">
                </p>
                <!-- begin row -->
                <div class="row">
                    <!-- begin col-6 -->
                    <div class="col-md-6" data-animation="true" data-animation-type="fadeInLeft">
                        <h3>Si tiene proyectos que quiere discutir con nosotros, contactenos.</h3>
                        <p>
                            
                        </p>
                        <p>
                            <strong>Laboratorio de redes y servidores</strong><br />
                            Edif. 331, espacio 2072<br />
                            Sede Melendez<br />
                            Cali, Valle del Cauca, Colombia<br />
                        </p>
                        <p>
                            <a href="mailto:laboratorio.redesysd@correounivalle.edu.co ">laboratorio.redesysd@correounivalle.edu.co </a>
                        </p>
                    </div>
                    <!-- end col-6 -->
                    <!-- begin col-6 -->
                    <div class="col-md-6 form-col" data-animation="true" data-animation-type="fadeInRight">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="control-label col-md-3">Nombre <span class="text-theme">*</span></label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Correo <span class="text-theme">*</span></label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Mensaje <span class="text-theme">*</span></label>
                                <div class="col-md-9">
                                    <textarea class="form-control" rows="10"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3"></label>
                                <div class="col-md-9 text-left">
                                    <button type="submit" class="btn btn-theme btn-block">Enviar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- end col-6 -->
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </div>
        <!-- end #contact -->
{% endblock %}
