{% extends 'base2.html' %}
{% load staticfiles %}

{% block title %}
    Laboratorio de redes
{% endblock %}
{% block content %}
<!-- begin #home -->
        <div id="home" class="content has-bg home">
            <!-- begin content-bg -->
            <div class="content-bg">
                <img src="{% static 'vendor/color_admin_v1.7/img/home-bg.jpg'%}" alt="Home" />
            </div>
            <!-- end content-bg -->
            <!-- begin container -->
            <div class="container home-content">
                <h1>Bienvenidos a LaScilab</h1>
                <h3>Laboratorio de Redes y Sistemas Distribuidos</h3>
                <p>
                    Investigamos tecnologias basadas en computación de alto rendimiento HPC. Entre las tareas que se llevan a cabo en el laboratio prima brindar asesoría e infraestructura computacional a los proyectos de investigación. Actualmente estamos estudiando tecnologias como: <a href="#">HTCondor</a>, <a href="#">Virtualiación </a>, <a href="#">Computación en Paralelo CPU/GPU</a>, <a href="#">Sistemas Distribuidos</a> y <a href="#">Raspberry pi</a>.
                </p>
                <div class="row">
                    <div class="col-md-4 col-xs-offset-7">
                        <p class="text-right">
                            Universidad del Valle<br /> 
                            EISC Escuela de Ingenieria de Sistemas y Computación<br /> 
                            Cali, Colombia
                        </p>
                    </div>
                    <div class="col-md-1"><img src="{% static 'img/uv.png' %}" width="50" height="50"></div>
                </div>
            </div>
            <!-- end container -->
        </div>
        <!-- end #home -->

        <!-- begin #about -->
        <div id="about" class="content" data-scrollview="true">
            <!-- begin container -->
            <div class="container" data-animation="true" data-animation-type="fadeInUp">
                <!-- begin carousel -->
                <div class="carousel testimonials slide" data-ride="carousel" id="testimonials">
                    <div class="container">
                      <div class="row">
                        <div class="col-sm-8 blog-main">
                          <div class="blog-post">
                            <h2 class="blog-post-title"><strong>¿Quienes somos?</strong></h2>
                            <p>
                                El laboratorio de Redes y Sistemas Distribuidos de la Universidad del Valle, fue creado con el propósito de ser un espacio que facilite
                                las practicas y experimentación en infraestructuras basadas en redes de computadoras. A mediados del 2015 con la idea de apoyar los 
                                procesos de invetigación y fortalercer el <a href="#">Cluster Computacional de Univalle</a>, se articuló con el objetivo de ayudar a estudiantes de Pregrado,
                                Maestria y Doctorado de las distintas facultades a acelerar sus investigaciones desplegando sus experimentos en plataformas de alto rendimento 
                                (Cluster,Computadores Paralelos,GPUs). <br> <br>

                                El laboratorio de Redes y Sistemas Distribuidos, adicionalmente es un espacio dedicado a la docencia e investigación, dirigido por el Profesor John Sanabria,PhD. Es usado como ambiente de pruebas para los cursos de sistemas operativos, redes y sistemas distribuidos. En este espacio los estudiantes tienen la posibilidad de explorar diferentes tecnologías de computación distribuida a través de ambientes virtuales de computación.
                            </p>
                            <hr>
                            <h2><strong>¿Con que Infraestructura Contamos?</strong></h2>
                              <div class="row">
                                <div class="col-sm-4">
                                  <p>Cluster, el <a href="#">Cluster Computacional de Univalle</a> es una infraestructura computacional, compuesta por un conglomerado de computadores unidos entre sí por una red de alta velocidad y alto poder de computo, destinado al calculo cientifico.</p>
                                  <img src="{% static 'img/index/blade.jpg'%}" class="img-responsive margin" style="width:100%" alt="Image">
                                </div>
                                <div class="col-sm-4">
                                  <p>Intel Galileo, es un dispositivo tipo Arduino basado en la arquitectura de x86.</p>
                                  <img src="{% static 'img/index/galileo.jpg'%}" class="img-responsive margin" style="width:100%" alt="Image">
                                </div>
                                <div class="col-sm-4">
                                  <p>
                                    Dispositivo GPU NVIDIA Embebido para processamiento masivo de datos (normalmente datos en forma vectorial o matricial), 
                                    es una de las plataformas disponibles en en día para computación de alto rendimeinto (HPC en ingles) con bajo consumo energético. 
                                    popular en proyectos basado en <a href="#">Deep Learning</a>, <a href="#">Simulación</a>, <a href="#">Algebra Lineal</a>, <a href="#">Visión por Computador</a>, etc.
                                  </p>
                                  <img src="{% static 'img/index/jetsontk1.jpg'%}" class="img-responsive margin" style="width:100%" alt="Image">
                                </div>
                              </div>
                              <hr>
                        </div><!-- /.blog-main -->
                    </div>
                    <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
                          <div class="sidebar-module sidebar-module-inset">
                            <h4>Eventos</h4>
                            <div>
                                <p class="blog-post-meta">Noviembre 9, 2016 por <a href="#">Aurelio Vivas</a></p>
                                <a href="#"><h5>I Seminario Plataformas Computacionales </h5></a>
                                <iframe width="200" height="200" src="https://www.youtube.com/embed/VsWZeveYbrM?list=PLNqsgMwXL3mHn8_UgzsVe_ZzEOl5zf0XN" frameborder="0" allowfullscreen></iframe>
                                <div id="demo" class="collapse">
                                    <dl>
                                      <dt>En que consistió</dt>
                                      <dd>
                                        El primer seminario de plataformas computacionales fue dictado del 16 al 19 de agosto de 2016.
                                        El objetivo de este fué brindar a estudiantes de Maestria y Doctorado talleres teórico - prácticos
                                        hacerca del uso de las plataformas y herramientas disponibles para apoyar los procesos de 
                                        investigación en univalle.
                                      </dd>
                                      <dt>Temas</dt>
                                      <dd>
                                        <ul class="list-unstyled">
                                          <li>Introducción al Terminal Linux</li>
                                          <li>Introducción a los Contenedores</li>
                                          <li>Introducción a HTC condor</li>
                                          <li>Introducción a la Computación en Paralelo</li>
                                          <li>Programación en CPUs (OpenMP)</li>
                                          <li>Programación en GPUs (CUDA)</li>
                                         </ul>
                                      </dd>
                                   </dl>
                                </div>
                            </div>
                          </div>
                      </div>
                    </div><!-- /.row -->
                </div><!-- end containter -->
            </div><!-- end #carrusel -->
        </div><!-- end containter -->
    </div><!-- end #about -->

    <!-- begin #team -->
    <div id="team" class="content bg-black-darker has-bg" data-scrollview="true">
        <!-- begin container -->
        <div class="container" data-animation="true" data-animation-type="fadeInUp">
            <h2 class="content-title">Equipo</h2>
            <!-- begin carousel -->
            <div class="carousel testimonials slide" data-ride="carousel" id="testimonials">
                <!-- begin carousel-inner -->
                <div class="carousel-inner text-center">
                    {% for paired in paired_members %}
                    <!-- begin item -->
                    {% if forloop.first %}     
                    <div class="item active">
                    {% else %}
                    <div class="item">
                    {% endif %}
                        <!-- begin row -->
                        <div class="row">
                            {% for member in paired %}
                            <!-- begin col-4 -->
                            <div class="col-md-4 col-sm-4">
                                <!-- begin team -->
                                <div class="team"> 
                                    <div class="image" data-animation="true" data-animation-type="flipInX">
                                        {% if member.picture %}
                                        <img  style="border-radius: 300px;" src="{{ member.picture.url }}" width="100px" height="100px"  alt="{{ member.name }}" />
                                        {% endif %}
                                    </div>
                                    <div class="info">
                                        <h3 class="name">{{ member.name }}</h3>
                                        <div class="title text-theme">{{ member.description }}</div>
                                        <p>{{ member.interest }}</p>
                                        <div class="social">
                                            {% if member.google_url %}
                                            <a href="{{ member.google_url }}"><i class="fa fa-google-plus fa-fw"></i></a>
                                            {% endif %}
                                            {% if member.github_url %}
                                            <a href="{{ member.github_url }}"><i class="fa fa-github fa-fw"></i></a>
                                            {% endif %}
                                            {% if member.youtube_channel_url %}
                                            <a href="{{ member.youtube_channel_url }}"><i class="fa fa-youtube fa-fw"></i></a>
                                            {% endif %}
                                            {% if member.webpage_url %}
                                            <a href="{{ member.webpage_url }}"><i class="fa fa fa-html5  fa-fw"></i></a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <!-- end team -->
                            </div>
                            <!-- end col-4 -->
                            {% endfor %}
                        </div>
                        <!-- end row -->
                    </div>
                    <!-- end item -->
                    {% endfor %}
                </div>
                <!-- end carousel-inner -->
                <!-- begin carousel-indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#testimonials" data-slide-to="0" class="active"></li>
                    <li data-target="#testimonials" data-slide-to="1" class=""></li>
                    <li data-target="#testimonials" data-slide-to="2" class=""></li>
                </ol>
                <!-- end carousel-indicators -->
            </div>
            <!-- end carousel -->
        </div>
        <!-- end containter -->
    </div>
    <!-- end #team -->
</div>


<!-- begin #contact -->
<div id="contact" class="content bg-silver-lighter" data-scrollview="true">
    <!-- begin container -->
    <div class="container">
        <h2 class="content-title">Contactenos</h2>
        <p class="content-desc">
        </p>
        <!-- begin row -->
        <div class="row">
            <!-- begin col-12 -->
            <div class="col-md-12" data-animation="true" data-animation-type="fadeInLeft">
                <h3>Si tiene proyectos que quiere discutir con nosotros, contactenos.</h3>
                <p>
                    
                </p>
                <p>
                    <strong>Laboratorio de redes y servidores</strong><br />
                    Edif. 331, espacio 2072<br />
                    Sede Melendez<br />
                    Cali, Valle del Cauca, Colombia<br />
                </p>
                <p>
                    <a href="mailto:laboratorio.redesysd@correounivalle.edu.co ">laboratorio.redesysd@correounivalle.edu.co </a>
                </p>
            </div>
            <!-- end col-12 -->
            <!-- begin col-6 -->
<!--             <div class="col-md-6 form-col" data-animation="true" data-animation-type="fadeInRight">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-md-3">Nombre <span class="text-theme">*</span></label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">Correo <span class="text-theme">*</span></label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">Mensaje <span class="text-theme">*</span></label>
                        <div class="col-md-9">
                            <textarea class="form-control" rows="10"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3"></label>
                        <div class="col-md-9 text-left">
                            <button type="submit" class="btn btn-theme btn-block">Enviar</button>
                        </div>
                    </div>
                </form>
            </div> -->
            <!-- end col-6 -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</div>
<!-- end #contact -->
{% endblock %}
